
body {
    background: #8392B2;
    font-family: Arial, Helvetica, sans-serif, Verdana;
    max-width: 900px;
    margin: auto;
}

#title, .subtitle, .post_title {
    color: #25272D;
}

#title  {
    font-size: 2rem;
    text-transform: uppercase;
}

a {
    text-decoration: underline;
    color: #25272D;
}
.post_title {
    font-size: 1rem;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}


.post {
    background: #ffffff;
    padding: 1rem;
    border: 0.4 rem solid #25272D;
    margin-bottom: 1rem;
    border-radius: 10px;
}

.post_content {
       margin: 0;
    margin-bottom: 15px; 
    text-transform: capitalize;
}

.post_image {
    margin-bottom: 15px; 
width: 100%
}  

.photo {
    border-radius: 50px ;
    border: 1px solid #25272D;
}

.contact_list {
    list-style-type: none;
padding-left: 1rem;

}

.contact_list li a {
    text-decoration: none;
}